
body{
	background-image: url(/images/background.png);
	font-family: 'Roboto', sans-serif;
	padding: 15px;
	color: $textColor;
}

footer{
	position: absolute;
	bottom: 0px;
}

a {
    color: $linkColor;
    text-decoration: none;
}

a:hover {
    color: $linkHover;   
}