
body{
	background-image: url(/images/background.png);
	font-family: 'Roboto', sans-serif;
	color: $textColor;
	height: 100%;
}

header{
	background-image: url(/images/header_background.png);
	color: $offWhite;
	height: 50px;
	line-height: 50px;
}

footer{
	height: 50px;
	line-height: 50px;
}


h1, h2, h3{
	font-weight: 900;
}



a {
    color: $linkColor;
    text-decoration: none;
}

a:hover {
    color: $linkHover;   
}

img{
	//float: left;
}