// Colors
$textColor: #03121a;
$strava: #f05a28;
$linkColor: $strava;
$linkHover: #cc4d23;
$offWhite: #e5e5e5;
$eggWhite: #ededed;

//Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,900,400italic);

//Mixins