.shareLinks{
	float:	right;
	margin-top: -50px; 
}

.stravaLogo{
	float:	left;
	margin-right: 10px;
}

.facebook-share, .twitter-share, .google-share{
	float: left;
	position: relative;
}

.twitter-share{
	top: 4px;
	left: 15px;
}

.google-share{
	top: 2px;
}